@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Shadows+Into+Light&display=swap');

.stack {
	height: 70px;

	-webkit-transition: -webkit-transform 0.33s;
	transition: transform 0.33s; /* Animate the transform properties */

	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d; /* <-NB */
}


.sflippety,.sflop {

	-webkit-border-radius: 5px;
	border-radius: 5px;

	height: 70px;
}

/* Position the faces */

.sflippety {
	-webkit-transform: translateZ(35px);
	transform: translateZ(35px);
}

.sflop {
	-webkit-transform: rotateX(-90deg) translateZ(-35px);
	transform: rotateX(-90deg) translateZ(-35px);
}

/* Rotate the cube */
.stack:hover {
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg); /* Text bleed at 90º */
}

/*6545645545646456456465456456456465464654564564564564564654564654*/


